<div class="section "> </div>

<div class="container">
    <div class="login-header card-panel">
        <h5 class="center indigo-text">Panel de usuario</h5>
    </div>
    <div class="container">
        
<p>Panel del usuario con menu bonito y muchas opciones para su informacion completa</p>



    </div>
</div>

    <div class="modal-content">
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>

