<div style="background-color: #fafafa;">
  <div class="section "> </div>
  <div class="container">
    <div class="login-header card-panel">
      <h5 class="header center orange-text">Por favor ingresa tus datos para registrarte</h5>
    </div>
    <!-- <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()"> -->
    <div class="container">
      <div class="row center-align">
        <p>{{ 'Por favor ingresa tus datos para registrarte' }}</p>
      </div>
      <!--test-->
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="fullname" name="fullname" [(ngModel)]="user.fullname" name="fullname">
          <label for="fullname">{{ 'NAME' }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="email" name="email" [(ngModel)]="user.email" name="email">
          <label for="email">{{ 'EMAIL' }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="password" id="password" name="password" [(ngModel)]="user.password" class="validate">
          <label for="password">{{ 'PASSWORD' }}</label>
        </div>
        <div class="input-field col s6">
          <input type="password" id="pswd-confirm" name="pswd-confirm" [(ngModel)]="user.pswd-confirm" class="validate">
          <label for="pswd-confirm">{{ 'PASSWORD_CONFIRM' }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="tel" id="phone" name="phone" [(ngModel)]="user.phone">
          <label for="phone">{{ 'PHONE' }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="address" name="address" [(ngModel)]="user.address">
          <label for="address">{{ 'ADDRESS' }}</label>
        </div>
      </div>
    </div>
    <!-- </form>-->
     <div class="center-align">
      <a
      type="submit" (click)="addUsers()" class="btn btn-large waves-effect indigo" [routerLink]="['/packages']">Agree </a>
    </div>
     <div class="section "> </div>
      <div class="section "> </div>
  </div>

   

  <!--<div class="modal"> -->
  <!--</div> -->
</div>
