
<div style="  background-color: #fafafa;">
<div class="section"> </div>
    <div class="container">

<div class="col s12 m7">
    <h3 class="header">Acerca de Por Tu Zona!</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Encuentra los productos que necesitas con una facilidad increible.</p>
<div class="section ">
</div>
          <p>Puedes buscar a un rango de 6-10 km (default) para poder encontrar lo que necesitas o si asi lo prefieres puedes realizar busquedas por regiones u otros rangos de busqueda.</p>
<div class="section ">
</div>

          <p>Nuestro compromiso es con el cliente, que realmente pueda enfocar en pymes lo que busca, apoyando al negocio de pequeña y mediana empresa.</p>



        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>



  </div>
  </div>