

<div style="  background-color: #fafafa;">

<div class="section"></div>
<div class="container">
  <div class="login-header card-panel">
    <h5 class="header center orange-text">Porfavor, Introduce tus credenciales</h5>
  </div>
  <div class="section"></div>
  <div class="container center">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <form class="col s12" method="post">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='email' name='email' id='email' />
            <label for='email'>Introduce tu correo</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='password' name='password' id='password' />
            <label for='password'>Introduce tu password</label>
          </div>
          <label style='float: right;'>
            <a class='pink-text' href='#!'><b>Olvidaste tu password?</b></a>
          </label>
        </div>
        <br />
        <div class='row'>
          <button [routerLink]="['/users']" type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="section"></div>
  <div class="section"></div>



</div>