<div class="section">
</div>
<div class="section"></div>
<div class="section"></div>
<div class="row">

  <div class="col s6 m6">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg"> 
        <i class="medium material-icons centerImage">brightness_4</i>
        <span class="card-title orange-text">Free plan (por tiempo limitado!!)</span>
      </div>
      <div class="card-content">
        <div class="section"></div>
        <p>Membresia para los primeros 6 meses gratis.</p>
        <div class="section"></div>
        <p>Tienes espacio para describir tu experiencia y tener tu portafolio, zona donde trabajas, contacto y experiencia profesional.</p
>        <div class="section"></div>
        <p>Puedes registrar a 1 persona y su oficio.</p>

      </div>
      <div class="card-action">
        <a [routerLink]="['/confirmation']">This is a link</a>
      </div>
    </div>
  </div> 

 <!-- <div class="col s4 m4">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <i class="medium material-icons centerImage">brightness_5</i>
        <span class="card-title orange-text">Starter Plan</span>
      </div>
      <div class="card-content">
        <div class="section"></div>
        <p>Puedes registrarte hacer tu bio, zona de contacto y experiencia profesional.</p>
        <div class="section"></div>
        <p>Puedes registrar a dos personas y sus oficios.</p>
        <div class="section"></div>
        <p>Preferencia en buscador de por tu zona!.</p>
        <div class="section"></div>
        <p>Publicidad en redes sociales personalizada (FB y Twitter).</p>
      </div>
      <div class="card-action">
        <a [routerLink]="['/confirmation']">This is a link</a>
      </div>
    </div>
  </div>  -->
  
    <div class="col s6 m6">
    <div class="card">
      <div class="card-image">
        <!--<img src="images/sample-1.jpg">-->
        <i class="medium material-icons centerImage">brightness_5</i>
        <span class="card-title orange-text">Descripcion de beneficios</span>
      </div>
   
        <div class="card-content">
        <div class="section"></div>
        <p>+ Duracion ilimitada de membresia.</p>

        <div class="section"></div>
        <p>Tienes espacio para describir tu experiencia y tener tu portafolio, zona donde trabajas, contacto y experiencia profesional.</p>
           <div class="section"></div>
        <p>+ Preferencia TOP en buscador, estilo llamativo en busquedas.</p>
        
        <div class="section"></div>
        <p>+ Puedes registrar a multiples personas y sus oficios. Esto es ideal para startups y equipos completos de trabajos, estarian asociados a una empresa o a un nombre comun para su facil busqueda.</p>
        <div class="section"></div>
        <p>+ Portafolio y bio extendida.</p>
  
      </div>

      <div class="card-action">
        <a [routerLink]="['/confirmation']">This is a link</a>
      </div>
    </div>
  </div>


</div>




