
<div style="  background-color: #fafafa;">
    <div class="container" style="  background-color: #fafafa;">
<div class="section"> </div>
<div class="col s12 m7">
    <h3 class="header" >Como funciona Por Tu Zona?</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>~ Pasos para darte a conocer en Por Tu Zona.</p>

<div class="section"> </div>
<p>Llena el pequeño formulario de registro <a href="http://localhost:4200/registration" > aqui</a>.</p>

<div class="section"> </div>
<p>Selecciona la opcion free o alguna de nuestras versiones de paga para el uso de PorTuZona en consideracion a tus necesidades.</p>

<div class="section"> </div>
<p>  Envianos datos de tu oficio , trabajos que hayas hecho o portafolio que tengas para que la gente conozca tus habilidades!  </p>

<div class="section"> </div>


<p> Listo! Ahora puedes disfrutar de publicidad del sitio, de tu perfil en las redes sociales y ademas recibir clientes por medio de nuestra app PorTuZona!</p>


<div class="section"> </div>
<p>Video explicativo:</p>
</div>


        <div class="card-action">
          <a href="http://localhost:4200/registration">Registrarse :)</a>
        </div>
      </div>
    </div>
  </div>

  
  </div>
  </div>