
<div class="section"></div>
<!--<mat-progress-spinner mode="indeterminate">  <mat-progress-spinner> -->

<!--<mat-spinner *ngIf="loading" [color]="'accent'"></mat-spinner> -->
<div class="container">

<mat-spinner class="very-pink spinnerAlign" mode="indeterminate" [diameter]="70"></mat-spinner>

    <div class="row">
      <div class="col-md-4">
        <div class="search-nav">
          <input type="text" class="search" placeholder="Type your search here">
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <!-- TABLE -->
    <div class="row">
      <div class="col-md-12">
        <div class="card-item wow fadeInUp" data-wow-delay="1s">
          <table class="dash-table table striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Title</th>
                <th>Company</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="paging-div">
            <!--<pagination-controls (pageChange)="getEmployeesPage($event, companyID)"></pagination-controls>  -->
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section"></div>