<!-- HEADERRRRRRRRRR -->

<nav class="purple darken-4" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" [routerLink]="['/']" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/about']">Acerca de</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/info']">Como funciona?</a></li>
    </ul>

    <ul *ngIf="autorized" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>

    <ul *ngIf="!autorized" class="right hide-on-med-and-down">
      <li><a (click)="signOut()">Log out</a></li>
    </ul>

    <ul  *ngIf="autorized" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/registration']">Registrarse</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!-- HEADERRRRRRRRRR -->
<router-outlet ></router-outlet>
<!--  FOOOOOOOTER    yellow lighten-3 -->
<div class="page-footer orange lighten-2 " >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="blue-text">Quienes somos?</h5>
        <p class="black-text text-darken-4">Compañia con gran vision dedicada a la satisfaccion de clientes.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="blue-text">Settings</h5>
        <ul>
          <li><a class="black-text" href="#!">Link 1</a></li>
          <li><a class="black-text" href="#!">Link 2</a></li>
          <li><a class="black-text" href="#!">Link 3</a></li>
          <li><a class="black-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="blue-text">Connect</h5>
        <ul>
          <li><a class="black-text" href="#!">Link 1</a></li>
          <li><a class="black-text" href="#!">Link 2</a></li>
          <li><a class="black-text" href="#!">Link 3</a></li>
          <li><a class="black-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright yellow darken-4">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Por Tu Zona!</a>
    </div>
  </div>
</div>
<!--  FOOOOOOOTER    yellow lighten-3 -->
