


<div class="back">

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Zun Jobs</h1>
      <div class="row center">
        <h5 class="header col s12 light">Buscador y registro de profesionales y oficios </h5>
      </div>

    <div class="nav-wrapper searchBar">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>


      <div class="row center">
      <!--  <a [routerLink]="['/search']" id="download-button" class="btn-large waves-effect waves-light orange">Buscar</a> 
      --><a (click)="loginFb()" id="download-button" class="btn-large waves-effect waves-light orange">Buscar</a>  
      </div>
      


    </div>



  </div>

    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s4 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i>  Busca</i></h2>
            <h5 class="center">Servicios Profesionales o oficios</h5>

            <p class="light">Encuentra cualquier tipo de proesional que contenga el perfil que buscas.</p>
          </div>
        </div>

        <div class="col s4 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i>   Encuentra</i></h2>
            <h5 class="center">Las Personas indicadas</h5>

            <p class="light">Encuentra los personas o servicios que necesitas y ofertas de los mismos cercanas a ti.</p>
          </div>
        </div>

        <div class="col s4 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i>  Consigue</i></h2>
            <h5 class="center">Juntass constructivas para proyectos</h5>

            <p class="light">Puede ser desde una aplicacion mobil hasta un edificio alav .</p>
          </div>
        </div>
      </div>

    </div>


    </div>