

<div class="container">

<p>
Bienvenido a Por Tu Zona!
</p>

<div class="section"></div>
<p>
Next steps

</p>

<div class="section"></div>

<p>
  You should enter to your email and validate the account and enter here the code here or click in the validate account link in your email.
</p>


 <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Confirmation Code</label>
 </div>



 <div class="row right-align">
            <a class="waves-effect waves-light btn" ng-click="model.sendMessage()" [routerLink]="['/users']">{{ 'CONFIRMAR'  }}</a>
        </div>

        </div>

<div class="section"></div>
<div class="section"></div>
